.body_left {
    width: 400px;
    height: 488px;
    padding-left: 12px;
}
.image > img {
    width: 400px;
    height: 400px;
    border-radius: 12px;
}

.images{
    width: 400px;
    display: flex;
    gap: 24px;
    padding: 8px 0px 8px 0px;
}
.images>img{
    width: 64px;
    height: 64px;
    border-radius: 16px;
}
.images>button{
    width: 32px;
    height: 64px;
    border-radius: 4px;
    border: none;
    background-color: rgba(242, 246, 255, 1);
    color: blue;

}